* {
  font-family: SBSansInterface;
}

.capitalize {
  font-weight: 400;
  font-size: 14px;
  margin: 24px 0 8px;
}
.tip {
  margin: 8px 0 24px;
  font-weight: 400;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.48);
}
.forms {
  margin-top: 43px;
}
.number-place2 input {
  width: 300px;
  box-sizing: border-box;
}
.sex-list {
  background: rgba(0, 0, 0, 0.04);
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  width: 300px;
  padding: 12px;
}
.hidden-option {
  color: rgba(0, 0, 0, 0.48);
}
.opt {
  padding: 40px;
  font-size: 14px;
}
.blue {
  color: #5558fa;
  font-weight: 600;
  font-size: 14px;
}
.gray {
  font-weight: 400;
  font-size: 14px;
  color: #666666;
}
.bar {
  margin-top: 42px;
}
.vis760 {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  visibility: hidden;
  color: #333333;
  position: absolute;
  top: 7%;
  left: calc(50% - 104px / 2);
}
@media (max-width: 1200px) {
  .bar {
    width: 480px;
    margin: 0 auto;
  }
  .bar img{
    width: 480px;
  }
}
@media (max-width: 760px) {
  .bar {
    visibility: hidden;
  }
  .vis760 {
    visibility: visible;
  }
}
@media (max-width: 455px) {
  .number-place2 input {
    width: 200px;
  }
  .sex-list {
    width: 200px;
  }
}